@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Все данные не конфиденциальны.</p>
<p>Настоятельно не рекомендуем пользоваться данным сайтом, если вам дорога ваша психика.</p>
<p>© Лянной Антон, 2020</p>
