@model PosterShop.Topics

@{
    ViewData["Title"] = "Удалить тему";
}
    <link href="https://fonts.googleapis.com/css?family=Pangolin&display=swap" rel="stylesheet">
<h2>Вы подтверждаете удаление темы "<b style="font-size: 35px; font-family: 'Pangolin', cursive;">@Html.DisplayFor(model => model.Name)</b>"?</h2>
<br />
<div style="display: flex">
    <img src="https://www.remadays.com/wp-content/uploads/2016/07/uwaga.jpg" alt="" width="100"/>
    <h3 style="color: red; text-align: center">Внимание! Удаление темы приведет к удалению всех находящихся в ней постеров!</h3>
</div>
<div>
    <br />
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Да, я хочу удалить тему и все постеры, которые она содержит" class="btn btn-danger" />
        <a asp-action="Index" style="margin-left: 5px">Назад к списку</a>
    </form>
</div>
