@model PosterShop.Topics

@{
    ViewData["Title"] = "Delete";
}

<h2>Вы подтверждаете удаление?</h2>
<br />
<h3 style="color: red; text-align: center">Внимание! Удаление темы приведет к удалению всех находящихся в ней постеров!</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" style="margin-left: 5px">Назад к списку</a>
    </form>
</div>
