@model IEnumerable<PosterShop.Topics>

@{
    ViewData["Title"] = "Главная";
}

    <link href="https://fonts.googleapis.com/css?family=Pangolin&display=swap" rel="stylesheet">
<style>
    body {
        background-color: #f7f7f7;
    }

    .block {
        background-color: white;
        width: 350px;
        /*display: flex;*/
        margin: 7px;
        text-align: center;
        border: 2px solid lightgrey;
        border-bottom: 6px solid lightgrey;
        border-radius: 20px;
        margin-bottom: 13px;
    }

    .three {
        display: flex;
        flex-wrap: wrap;
    }

    .poster {
        width: 320px;
        margin-top: 20px;
        border-radius: 9px;
    }

    .topic-name {
        font-family: 'Pangolin', cursive;
        font-weight: 900;
        font-size: 50px;
    }

    .buttons {
        width: 31px;
        margin: 5px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
        
    h1 {
        font-family: 'Pangolin', cursive;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 50px;
    }

    .bdens{
        align-items: center;
        width: 500px;
    }

    svg{
        border-radius: 20px;
    }
</style>

<body>
    <h1>Каталог постеров</h1>
    <div class="three">
        <div class="block" style="display: flex; align-items: center; justify-content: center">
            <a asp-action="Create">
                <img src="https://infinityposters.s3.eu-north-1.amazonaws.com/Posters/Design/grey.png"
                     width="60" height="60" alt="Добавить тему" title="Добавить тему" style="margin-top: auto; margin-bottom: auto"
                     onmouseover="this.src='https://infinityposters.s3.eu-north-1.amazonaws.com/Posters/Design/pink.png'; this.width=67; this.height=67;"
                     onmouseout="this.src='https://infinityposters.s3.eu-north-1.amazonaws.com/Posters/Design/grey.png'; this.width=55; this.height=55;" />
            </a>

        </div>

        @foreach (var item in Model)
        {
            <div class="block">
                <br />
                <p class="topic-name">@Html.DisplayFor(modelItem => item.Name)</p>

                <a asp-action="Edit" asp-route-id="@item.Id"><img class="buttons" src="https://infinityposters.s3.eu-north-1.amazonaws.com/Posters/Design/unnamed.png" alt="Изменить" title="Изменить" /></a>
                <a asp-action="Details" asp-route-id="@item.Id"><img class="buttons" src="https://infinityposters.s3.eu-north-1.amazonaws.com/Posters/Design/108message-find.png" alt="Инфо" title="Инфо" /></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><img class="buttons" src="https://infinityposters.s3.eu-north-1.amazonaws.com/Posters/Design/unnamed+(1).png" alt="Удалить" title="Удалить" /></a>
            </div>
        }
    </div>
    <div style="display: flex">
        <div id="chart1" class="bdens block" style="height: 312px; width: 500px;"></div>
        <div id="chart2" class="bdens block" style="height: 312px; width: 550px; margin-left: 15px"></div>
    </div>

    @section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
            // ДИАГРАММА КОЛИЧЕСТВА
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                $.get('/api/Charts/JsonData', function (jsonData) {
                        data = google.visualization.arrayToDataTable(jsonData, false);
                    let options = {
                        title: "Количество постеров по категориям",
                        width: 494,
                        height: 300,
                    };
                    let chart = new google.visualization.PieChart(document.getElementById('chart1'));
                    chart.draw(data, options);
                })
            }
        </script>


        <script type="text/javascript">
            // ДИАГРАММА средних ЦЕН по категории
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                $.get('/api/Charts/JsonPrices', function (jsonPrices) {
                    data = google.visualization.arrayToDataTable((jsonPrices), false);
                    let options = {
                        title: 'Средняя цена постера по теме',
                        width: 544,
                        height: 300,
                        vAxis: { title: 'Цена, грн', minValue: 0 },
                        legend: 'none'
                    };
                    let chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                    chart.draw(data, options);
                })
            }
        </script>
    }
</body>